div.path-node{
    background-color: transparent;
}

div.path-node-is-beginning{
    background-color: blue;
}

div.path-node-is-end{
    background-color: red;
}

div.path-node-basic{
    display: grid;
    min-height: 25px;
    max-height: 25px;
    min-width: 25px;
    max-width: 25px;
    border: grey 1px solid;
}