div.row-node{
    background-color: transparent;
}

div.row-node-is-beginning{
    background-color: green;
}

div.row-node-is-end{
    background-color: red;
}

div.row-node-is-visited{
    background-color: darkblue;
}

div.row-node-is-blocked{
    background-color: black;
}

div.row-node-basic{
    display: grid;
    min-height: 25px;
    max-height: 25px;
    min-width: 25px;
    max-width: 25px;
    border: grey 1px solid;
    -moz-user-select: none;
    -webkit-user-select: none;
}