div.row-node{
    background-color: transparent;
}

div.row-node-is-beginning{
    background-color: green;
}

div.row-node-is-end{
    background-color: red;
}

div.row-node-is-visited{
    animation: row-node-is-visited;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    background-color: aqua;
}

div.row-node-is-blocked{
    background-color: teal;
}

div.row-node-basic{
    display: grid;
    min-height: 25px;
    max-height: 25px;
    min-width: 25px;
    max-width: 25px;
    border: grey 1px solid;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@keyframes row-node-is-visited {
    25% {
        transform: scale(0.3);
        background-color: navy;
    };

    50%{
        transform: scale(0.4);
        background-color: yellow;
    };

    75%{
        transform: scale(0.8);
        background-color: yellow;
    };

    100%{
        transform: scale(1);
        background-color: aqua;
    };
}