div#canvas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: "menu"
                         "path-finder"
                         "path-finder";
}

div#menu{
    display: grid;
    grid-area: "menu";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas:    "title"
                            "tools";
}

div#title{
    display: grid;
    grid-area: title;
    align-items: center;
    justify-items: center;
}

div#tools{
    display: grid;
    grid-area: tools;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

div#path-finder{
    display: grid;
    grid-area: "path-finder";
    row-gap: none;
    grid-template-columns: repeat(45,1fr);
    column-gap: none;
    grid-template-rows: repeat(45,1fr);
    grid-auto-rows: min-content;
    align-items: center;
    justify-items: center;
    border: yellowgreen solid 5px;
}

span#start-pathfinder{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: green;
    border: green solid 2px;
    border-radius: 5%;
}

span#start-pathfinder:hover{
    cursor: pointer;
}

span#empty-nodes{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: red;
    border: red solid 2px;
    border-radius: 5%;
}

span#empty-nodes:hover{
    cursor: pointer;
}

span.dijkstra-title{
    color: yellowgreen;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
}