div#canvas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: "menu"
                         "path-finder"
                         "path-finder";
    border: green solid 5px;
}

div#menu{
    display: grid;
    grid-area: "menu";
    border: purple solid 5px
}

div#path-finder{
    display: grid;
    grid-area: "path-finder";
    row-gap: none;
    grid-template-columns: repeat(45,1fr);
    column-gap: none;
    grid-template-rows: repeat(45,1fr);
    grid-auto-rows: min-content;
    align-items: center;
    justify-items: center;
    border: black solid 5px;
}